.menu__link {
  width: 100%;
  text-decoration: none;
  margin: 1rem;
  font-size: 0.9rem;
  color: rgb(15, 15, 15);
  font-weight: 800;
  text-transform: uppercase;
  transition: all 0.1s ease-in-out;
  display: block;
}

.menu__link:hover {
  text-decoration: underline;
  color: #FA817D;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .menu__link {
    margin: 0;
    padding: 0.8rem 0;
  }
  
}