.peeling {
    background-image: url(/assets/img/peeling2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    
}

@media screen and (max-width: 768px) {
    .peeling {
       background-size: cover;
    }
       
   }