.img-destaque {
   background-image: url(/assets/img/destaque.png);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: top;
   height: 100vh;
   width: 100%;
  
} 

@media screen and (max-width: 768px) {
   .img-destaque{
     background-size: cover;
     height: 100vh;
   }
 }