.cabecalho {
  background-color:#FFE3D2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1550px;
  width: 100%;
  margin: 0 auto;
  height: 18vh;
  position: fixed;
  z-index: 2;
  border: 1px solid black;
}

@media screen and (max-width: 768px) {
  .cabecalho {
    height: 12vh;
  }
}



