.cabecalho {
  background-color:#FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 13vh;
  position: fixed;
  z-index: 2;
  box-shadow: 0.5px 0.5px 0.5px rgb(87, 86, 86);
  padding: 1.2rem 0 0.5rem 0;
}

@media screen and (max-width: 768px) {
  .cabecalho {
    height: 5rem;
   
  }
}



