.intradermoterapia {
    background-image: url(/assets/img/jucilene14.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;

}