footer {
    background: #6b7c94;
}

.conteudo-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem 8rem 2rem 8rem;
    
    
}

@media screen and (max-width: 768px) {
    .conteudo-footer {
     flex-direction: column;
     justify-content: center;
    }
  }