.conteudo-sobre__titulo {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: rgb(80, 25, 68);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .conteudo-sobre__titulo {
    margin-bottom: 1rem;
    
  }
}

