.conteudo-paragrafos {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 6rem;
   
}

@media screen and (max-width: 768px) {
    .conteudo-paragrafos {
      padding: 0.5rem;
      margin: 0;
    }
  }