.beneficio__conteudo--paragrafo {
  width: 100%;
  text-align: justify;
  line-height: 1.4rem;
  margin-bottom: 1.5rem;
  padding: 0 0.5rem;
  text-indent: 1rem;
  max-height: 70px;
}

@media screen and (max-width: 768px) {
  .beneficio__conteudo--paragrafo {
   
   
    
  }
}