.beneficio__conteudo--titulo {
  margin-bottom: 1rem;
  padding-top: 1rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .beneficio__conteudo--titulo {
    padding: 0.7rem 0 0.2rem 0;
   
  }
}