.conteudos {
    display: flex;
    align-items: center;
    max-width: 1000px;
    width: 100%;

}

@media screen and (max-width: 768px) {
    .conteudos {
      flex-direction: column;
     
   }
   
}