.mapa {
    padding: 4rem 2rem 7rem 2rem;
    background: linear-gradient(#512a07, #B8B1AB);
    
}

@media screen and (max-width: 768px) {
    .mapa {
      padding: 3rem 0.5rem 2rem 0.5rem;
      
    }


  }