.mapa__conteudo {
   width: 500px;
   height: 300px;
  
  
}

@media screen and (max-width: 768px) {
   .mapa__conteudo {
      width: 340px;
      height: 300px;
      margin-bottom: 2rem;
     
   }
 }