.mapa {
    padding: 2rem 2rem 1rem 2rem;
    background: linear-gradient(#FEFEFE, #B8B1AB);
    
}

@media screen and (max-width: 768px) {
    .mapa {
      padding: 3rem 0.5rem 2rem 0.5rem;
      
    }


  }